@font-face {
    font-family: 'Benzinova_Thin Extended';
    src:    url('Benzinova/ThinExtended/Benzinova-Thin-Extended.eot');
    src:    url('Benzinova/ThinExtended/Benzinova-Thin-Extended.eot?#iefix') format('embedded-opentype'),
            url('Benzinova/ThinExtended/Benzinova-Thin-Extended.woff') format('woff'),
            url('Benzinova/ThinExtended/Benzinova-Thin-Extended.woff2') format('woff2'),
            url('Benzinova/ThinExtended/Benzinova-Thin-Extended.ttf') format('truetype'),
            url('Benzinova/ThinExtended/Benzinova-Thin-Extended.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benzinova_Thin ExtraCondensed';
    src:    url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.eot');
    src:    url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.eot?#iefix') format('embedded-opentype'),
            url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.woff') format('woff'),
            url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.woff2') format('woff2'),
            url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.ttf') format('truetype'),
            url('Benzinova/ThinExtraCondensed/Benzinova-Thin-ExtraCondensed.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benzinova_Thin';
    src:    url('Benzinova/Thin/Benzinova-C1.eot');
    src:    url('Benzinova/Thin/Benzinova-C1.eot?#iefix') format('embedded-opentype'),
            url('Benzinova/Thin/Benzinova-C1.woff') format('woff'),
            url('Benzinova/Thin/Benzinova-C1.woff2') format('woff2'),
            url('Benzinova/Thin/Benzinova-C1.ttf') format('truetype'),
            url('Benzinova/Thin/Benzinova-C1.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benzinova_Thin Condensed';
    src:    url('Benzinova/ThinCondensed/Benzinova-B1.eot');
    src:    url('Benzinova/ThinCondensed/Benzinova-B1.eot?#iefix') format('embedded-opentype'),
            url('Benzinova/ThinCondensed/Benzinova-B1.woff') format('woff'),
            url('Benzinova/ThinCondensed/Benzinova-B1.woff2') format('woff2'),
            url('Benzinova/ThinCondensed/Benzinova-B1.ttf') format('truetype'),
            url('Benzinova/ThinCondensed/Benzinova-B1.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
