<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.Scaffold.layerShow</key>
	<false/>
	<key>com.typemytype.robofont.Scaffold.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.Scaffold.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.Scaffold.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.Scaffold.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.Scaffold.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/joern/Documents/Fonts/Benzinova-Font/otf/Benzinova-Thin-Extended.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerShow</key>
	<true/>
	<key>com.typemytype.robofont.foreground.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerShowStroke</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1944</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1216</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<true/>
			<key>magnetic</key>
			<integer>5</integer>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<integer>1984</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>-16</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1184</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>949</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>917</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>547</integer>
			<key>y</key>
			<integer>451</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>1232</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>1248</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>1264</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>1226</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>lowercase-r</string>
			<key>x</key>
			<integer>998</integer>
			<key>y</key>
			<integer>464</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>983</integer>
			<key>y</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>1015</integer>
			<key>y</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>542</integer>
			<key>y</key>
			<integer>1092</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>856</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>872</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>90.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>840</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>Scaffold</string>
		<string>stock</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>aring</string>
				<string>fdotaccent</string>
				<string>Hcircumflex</string>
				<string>dollar</string>
				<string>pdotaccent</string>
				<string>Kcedilla</string>
				<string>Yacute</string>
				<string>obreve</string>
				<string>three.oldstyle</string>
				<string>seven.sup</string>
				<string>quotedblright</string>
				<string>mdotaccent</string>
				<string>ccaron</string>
				<string>seven.sub</string>
				<string>quotesinglbase</string>
				<string>Ymacron</string>
				<string>twosuperior</string>
				<string>Euro</string>
				<string>twothirds</string>
				<string>Lcedilla</string>
				<string>ocaron</string>
				<string>underscore</string>
				<string>Rcedilla</string>
				<string>Gcircumflex</string>
				<string>amacron</string>
				<string>p</string>
				<string>tdotaccent</string>
				<string>Otilde</string>
				<string>dotlessj</string>
				<string>ydotaccent</string>
				<string>dotlessi</string>
				<string>Scaron</string>
				<string>egrave</string>
				<string>Sacute</string>
				<string>kcaron</string>
				<string>section</string>
				<string>Cacute</string>
				<string>Icircumflex</string>
				<string>Gcaron</string>
				<string>ampersand</string>
				<string>Ygrave</string>
				<string>gcedilla</string>
				<string>lessequal</string>
				<string>dotaccent</string>
				<string>Kacute</string>
				<string>degree</string>
				<string>acircumflex</string>
				<string>Uhungarumlaut</string>
				<string>Aring</string>
				<string>Cdotaccent</string>
				<string>k</string>
				<string>Rcaron</string>
				<string>Agrave</string>
				<string>Xdieresis</string>
				<string>Ydotaccent</string>
				<string>Ldot</string>
				<string>Edotaccent</string>
				<string>Abreve</string>
				<string>divide</string>
				<string>nine.sup</string>
				<string>ocircumflex</string>
				<string>peseta</string>
				<string>rcedilla</string>
				<string>threequarters</string>
				<string>asciitilde</string>
				<string>Sdotaccent</string>
				<string>Lacute</string>
				<string>summation</string>
				<string>Gdotaccent</string>
				<string>Gbreve</string>
				<string>dcaron</string>
				<string>scaron</string>
				<string>bracketleft</string>
				<string>asciicircum</string>
				<string>greaterequal</string>
				<string>f</string>
				<string>ordmasculine</string>
				<string>mu</string>
				<string>paragraph</string>
				<string>v</string>
				<string>Eogonek</string>
				<string>cdotaccent</string>
				<string>backslash</string>
				<string>currency</string>
				<string>Icaron</string>
				<string>Uring</string>
				<string>tbar</string>
				<string>kgreenlandic</string>
				<string>five.oldstyle</string>
				<string>lacute</string>
				<string>ygrave</string>
				<string>product</string>
				<string>umacron</string>
				<string>tdieresis</string>
				<string>edotaccent</string>
				<string>a</string>
				<string>q</string>
				<string>hcaron</string>
				<string>nine.oldstyle</string>
				<string>lcedilla</string>
				<string>ograve</string>
				<string>ecaron</string>
				<string>uring</string>
				<string>edieresis</string>
				<string>comma</string>
				<string>Ncaron</string>
				<string>uni24C5</string>
				<string>Gacute</string>
				<string>Idieresis</string>
				<string>Scedilla</string>
				<string>otilde</string>
				<string>gcircumflex</string>
				<string>lira</string>
				<string>guillemotright</string>
				<string>ecircumflex</string>
				<string>greater</string>
				<string>uacute</string>
				<string>Idotaccent</string>
				<string>Wdotaccent</string>
				<string>ccircumflex</string>
				<string>dcroat</string>
				<string>cedilla</string>
				<string>onethird</string>
				<string>omacron</string>
				<string>kacute</string>
				<string>one.oldstyle</string>
				<string>ydieresis</string>
				<string>l</string>
				<string>logicalnot</string>
				<string>Ncedilla</string>
				<string>xdotaccent</string>
				<string>six.sup</string>
				<string>exclamdown</string>
				<string>endash</string>
				<string>hdotaccent</string>
				<string>Mdotaccent</string>
				<string>Gcedilla</string>
				<string>agrave</string>
				<string>ring</string>
				<string>seven.oldstyle</string>
				<string>Adieresis</string>
				<string>germandbls</string>
				<string>Odieresis</string>
				<string>Ohungarumlaut</string>
				<string>Ddotaccent</string>
				<string>quoteright</string>
				<string>ucircumflex</string>
				<string>Ecaron</string>
				<string>franc</string>
				<string>gacute</string>
				<string>quoteleft</string>
				<string>ndotaccent</string>
				<string>oneeight</string>
				<string>Obreve</string>
				<string>Ucaron</string>
				<string>Hdotaccent</string>
				<string>g</string>
				<string>imacron</string>
				<string>wdotaccent</string>
				<string>w</string>
				<string>wacute</string>
				<string>gmacron</string>
				<string>notequal</string>
				<string>four.sub</string>
				<string>Tbar</string>
				<string>radical</string>
				<string>Gmacron</string>
				<string>dotlessibreve</string>
				<string>Itilde</string>
				<string>four.sup</string>
				<string>zerothirds</string>
				<string>Ubreve</string>
				<string>Ycircumflex</string>
				<string>Vtilde</string>
				<string>Lcaron</string>
				<string>Ndotaccent</string>
				<string>Delta</string>
				<string>twofifths</string>
				<string>Wgrave</string>
				<string>iacute</string>
				<string>Ydieresis</string>
				<string>six.sub</string>
				<string>Ytilde</string>
				<string>b</string>
				<string>Ngrave</string>
				<string>hdieresis</string>
				<string>Macute</string>
				<string>r</string>
				<string>Jcircumflex</string>
				<string>Ccedilla</string>
				<string>minus</string>
				<string>dcedilla</string>
				<string>tcaron</string>
				<string>longs</string>
				<string>Ucircumflex</string>
				<string>Lslash</string>
				<string>ldot</string>
				<string>abreve</string>
				<string>racute</string>
				<string>one.sup</string>
				<string>florin</string>
				<string>Uacute</string>
				<string>Ocaron</string>
				<string>itilde</string>
				<string>one.sub</string>
				<string>Emacron</string>
				<string>yacute</string>
				<string>Omega</string>
				<string>quotedbl</string>
				<string>ohungarumlaut</string>
				<string>onehalf</string>
				<string>Thorn</string>
				<string>emacron</string>
				<string>multiply</string>
				<string>Oogonek</string>
				<string>Dcedilla</string>
				<string>onesuperior</string>
				<string>Ocircumflex</string>
				<string>m</string>
				<string>oacute</string>
				<string>Ntilde</string>
				<string>Uogonek</string>
				<string>questiondown</string>
				<string>Atilde</string>
				<string>perthousand</string>
				<string>ccedilla</string>
				<string>Acaron</string>
				<string>four.oldstyle</string>
				<string>adotaccent</string>
				<string>ecedilla</string>
				<string>copyright</string>
				<string>zdotaccent</string>
				<string>hcircumflex</string>
				<string>less</string>
				<string>ntilde</string>
				<string>seveneighths</string>
				<string>Zacute</string>
				<string>Eacute</string>
				<string>Etilde</string>
				<string>cacute</string>
				<string>gcaron</string>
				<string>dotlessicaron</string>
				<string>two.oldstyle</string>
				<string>wring</string>
				<string>circumflex</string>
				<string>napostrophe</string>
				<string>bar</string>
				<string>h</string>
				<string>Pdotaccent</string>
				<string>x</string>
				<string>udieresis</string>
				<string>Adotaccent</string>
				<string>ordfeminine</string>
				<string>rcaron</string>
				<string>Ccaron</string>
				<string>braceleft</string>
				<string>threefifths</string>
				<string>macron</string>
				<string>onequarter</string>
				<string>sdotaccent</string>
				<string>atilde</string>
				<string>Acircumflex</string>
				<string>sacute</string>
				<string>Oslash</string>
				<string>gbreve</string>
				<string>quotedblleft</string>
				<string>hcedilla</string>
				<string>Pacute</string>
				<string>zacute</string>
				<string>exclam</string>
				<string>Tcaron</string>
				<string>nine.sub</string>
				<string>c</string>
				<string>z</string>
				<string>threeeighths</string>
				<string>Ugrave</string>
				<string>eth</string>
				<string>hbar</string>
				<string>Racute</string>
				<string>uhungarumlaut</string>
				<string>Egrave</string>
				<string>zasciicircum</string>
				<string>hyphen</string>
				<string>Fdotaccent</string>
				<string>period</string>
				<string>igrave</string>
				<string>ncedilla</string>
				<string>colon</string>
				<string>xdieresis</string>
				<string>eight.sub</string>
				<string>Ecircumflex</string>
				<string>partialdiff</string>
				<string>Hcedilla</string>
				<string>trademark</string>
				<string>Aacute</string>
				<string>cent</string>
				<string>eight.sup</string>
				<string>Tcomma</string>
				<string>lslash</string>
				<string>pi</string>
				<string>wdieresis</string>
				<string>ycircumflex</string>
				<string>zero.sup</string>
				<string>Hdieresis</string>
				<string>uni00A0</string>
				<string>Amacron</string>
				<string>Hcaron</string>
				<string>breve</string>
				<string>zero.sub</string>
				<string>Oacute</string>
				<string>onesixth</string>
				<string>guillemotleft</string>
				<string>n</string>
				<string>idieresis</string>
				<string>braceright</string>
				<string>numbersign</string>
				<string>Ecedilla</string>
				<string>brokenbar</string>
				<string>onenineth</string>
				<string>Dcaron</string>
				<string>ugrave</string>
				<string>ij</string>
				<string>fiveeighths</string>
				<string>six.oldstyle</string>
				<string>periodcentered</string>
				<string>s</string>
				<string>Bdotaccent</string>
				<string>Dcroat</string>
				<string>sterling</string>
				<string>Aogonek</string>
				<string>infinity</string>
				<string>eight.oldstyle</string>
				<string>IJ</string>
				<string>Xdotaccent</string>
				<string>Tdotaccent</string>
				<string>Eth</string>
				<string>emdash</string>
				<string>i</string>
				<string>tcedilla</string>
				<string>icircumflex</string>
				<string>y</string>
				<string>ncaron</string>
				<string>plusminus</string>
				<string>yen</string>
				<string>tilde</string>
				<string>Wdieresis</string>
				<string>apple</string>
				<string>Zcaron</string>
				<string>Odotaccent</string>
				<string>onetenth</string>
				<string>Udieresis</string>
				<string>Utilde</string>
				<string>oneseventh</string>
				<string>Tcedilla</string>
				<string>Wacute</string>
				<string>ymacron</string>
				<string>Hbar</string>
				<string>oslash</string>
				<string>acute</string>
				<string>d</string>
				<string>Scircumflex</string>
				<string>lcaron</string>
				<string>Zasciicircum</string>
				<string>acaron</string>
				<string>OE</string>
				<string>Igrave</string>
				<string>pacute</string>
				<string>t</string>
				<string>aogonek</string>
				<string>parenright</string>
				<string>scircumflex</string>
				<string>zero.oldstyle</string>
				<string>ezh</string>
				<string>jcircumflex</string>
				<string>AE</string>
				<string>quotesingle</string>
				<string>eogonek</string>
				<string>Umacron</string>
				<string>utilde</string>
				<string>Imacron</string>
				<string>equal</string>
				<string>slash</string>
				<string>ellipsis</string>
				<string>nacute</string>
				<string>guilsinglright</string>
				<string>five.sub</string>
				<string>zcaron</string>
				<string>odieresis</string>
				<string>vtilde</string>
				<string>ebreve</string>
				<string>five.sup</string>
				<string>tcomma</string>
				<string>caron</string>
				<string>three.sub</string>
				<string>etilde</string>
				<string>oe</string>
				<string>guilsinglleft</string>
				<string>fivesixths</string>
				<string>o</string>
				<string>Edieresis</string>
				<string>plus</string>
				<string>yring</string>
				<string>threesuperior</string>
				<string>oogonek</string>
				<string>dagger</string>
				<string>Kcaron</string>
				<string>ngrave</string>
				<string>integral</string>
				<string>macute</string>
				<string>fourfifths</string>
				<string>Ibreve</string>
				<string>hungarumlaut</string>
				<string>parenleft</string>
				<string>Ebreve</string>
				<string>question</string>
				<string>uogonek</string>
				<string>grave</string>
				<string>fraction</string>
				<string>Omacron</string>
				<string>three.sup</string>
				<string>Iogonek</string>
				<string>ddotaccent</string>
				<string>registered</string>
				<string>two.sup</string>
				<string>dieresis</string>
				<string>e</string>
				<string>two.sub</string>
				<string>iogonek</string>
				<string>Ograve</string>
				<string>j</string>
				<string>ucaron</string>
				<string>uni00AD</string>
				<string>ogonek</string>
				<string>rdotaccent</string>
				<string>ae</string>
				<string>semicolon</string>
				<string>Zdotaccent</string>
				<string>quotedblbase</string>
				<string>at</string>
				<string>Iacute</string>
				<string>daggerdbl</string>
				<string>percent</string>
				<string>kcedilla</string>
				<string>ubreve</string>
				<string>bracketright</string>
				<string>onefifth</string>
				<string>gdotaccent</string>
				<string>Wcircumflex</string>
				<string>adieresis</string>
				<string>approxequal</string>
				<string>odotaccent</string>
				<string>scedilla</string>
				<string>asterisk</string>
				<string>aacute</string>
				<string>Ccircumflex</string>
				<string>eacute</string>
				<string>bdotaccent</string>
				<string>Rdotaccent</string>
				<string>wgrave</string>
				<string>wcircumflex</string>
				<string>Nacute</string>
				<string>bullet</string>
				<string>thorn</string>
				<string>space</string>
				<string>u</string>
				<string>ytilde</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.stock.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.stock.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.stock.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.stock.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.stock.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.templateCharacterSet</key>
	<string>Initials</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>aring</string>
		<string>fdotaccent</string>
		<string>Hcircumflex</string>
		<string>dollar</string>
		<string>pdotaccent</string>
		<string>Kcedilla</string>
		<string>Yacute</string>
		<string>obreve</string>
		<string>three.oldstyle</string>
		<string>seven.sup</string>
		<string>quotedblright</string>
		<string>mdotaccent</string>
		<string>ccaron</string>
		<string>seven.sub</string>
		<string>quotesinglbase</string>
		<string>Ymacron</string>
		<string>twosuperior</string>
		<string>Euro</string>
		<string>twothirds</string>
		<string>Lcedilla</string>
		<string>ocaron</string>
		<string>underscore</string>
		<string>Rcedilla</string>
		<string>Gcircumflex</string>
		<string>amacron</string>
		<string>p</string>
		<string>tdotaccent</string>
		<string>Otilde</string>
		<string>dotlessj</string>
		<string>ydotaccent</string>
		<string>dotlessi</string>
		<string>Scaron</string>
		<string>egrave</string>
		<string>Sacute</string>
		<string>kcaron</string>
		<string>section</string>
		<string>Cacute</string>
		<string>Icircumflex</string>
		<string>Gcaron</string>
		<string>ampersand</string>
		<string>Ygrave</string>
		<string>gcedilla</string>
		<string>lessequal</string>
		<string>dotaccent</string>
		<string>Kacute</string>
		<string>degree</string>
		<string>acircumflex</string>
		<string>Uhungarumlaut</string>
		<string>Aring</string>
		<string>Cdotaccent</string>
		<string>k</string>
		<string>Rcaron</string>
		<string>Agrave</string>
		<string>Xdieresis</string>
		<string>Ydotaccent</string>
		<string>Ldot</string>
		<string>Edotaccent</string>
		<string>Abreve</string>
		<string>divide</string>
		<string>nine.sup</string>
		<string>ocircumflex</string>
		<string>peseta</string>
		<string>rcedilla</string>
		<string>threequarters</string>
		<string>asciitilde</string>
		<string>Sdotaccent</string>
		<string>Lacute</string>
		<string>summation</string>
		<string>Gdotaccent</string>
		<string>Gbreve</string>
		<string>dcaron</string>
		<string>scaron</string>
		<string>bracketleft</string>
		<string>asciicircum</string>
		<string>greaterequal</string>
		<string>f</string>
		<string>ordmasculine</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>v</string>
		<string>Eogonek</string>
		<string>cdotaccent</string>
		<string>backslash</string>
		<string>currency</string>
		<string>Icaron</string>
		<string>Uring</string>
		<string>tbar</string>
		<string>kgreenlandic</string>
		<string>five.oldstyle</string>
		<string>lacute</string>
		<string>ygrave</string>
		<string>product</string>
		<string>umacron</string>
		<string>tdieresis</string>
		<string>edotaccent</string>
		<string>a</string>
		<string>q</string>
		<string>hcaron</string>
		<string>nine.oldstyle</string>
		<string>lcedilla</string>
		<string>ograve</string>
		<string>ecaron</string>
		<string>uring</string>
		<string>edieresis</string>
		<string>comma</string>
		<string>Ncaron</string>
		<string>uni24C5</string>
		<string>Gacute</string>
		<string>Idieresis</string>
		<string>Scedilla</string>
		<string>otilde</string>
		<string>gcircumflex</string>
		<string>lira</string>
		<string>guillemotright</string>
		<string>ecircumflex</string>
		<string>greater</string>
		<string>uacute</string>
		<string>Idotaccent</string>
		<string>Wdotaccent</string>
		<string>ccircumflex</string>
		<string>dcroat</string>
		<string>cedilla</string>
		<string>onethird</string>
		<string>omacron</string>
		<string>kacute</string>
		<string>one.oldstyle</string>
		<string>ydieresis</string>
		<string>l</string>
		<string>logicalnot</string>
		<string>Ncedilla</string>
		<string>xdotaccent</string>
		<string>six.sup</string>
		<string>exclamdown</string>
		<string>endash</string>
		<string>hdotaccent</string>
		<string>Mdotaccent</string>
		<string>Gcedilla</string>
		<string>agrave</string>
		<string>ring</string>
		<string>seven.oldstyle</string>
		<string>Adieresis</string>
		<string>germandbls</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>Ddotaccent</string>
		<string>quoteright</string>
		<string>ucircumflex</string>
		<string>Ecaron</string>
		<string>franc</string>
		<string>gacute</string>
		<string>quoteleft</string>
		<string>ndotaccent</string>
		<string>oneeight</string>
		<string>Obreve</string>
		<string>Ucaron</string>
		<string>Hdotaccent</string>
		<string>g</string>
		<string>imacron</string>
		<string>wdotaccent</string>
		<string>w</string>
		<string>wacute</string>
		<string>gmacron</string>
		<string>notequal</string>
		<string>four.sub</string>
		<string>Tbar</string>
		<string>radical</string>
		<string>Gmacron</string>
		<string>dotlessibreve</string>
		<string>Itilde</string>
		<string>four.sup</string>
		<string>zerothirds</string>
		<string>Ubreve</string>
		<string>Ycircumflex</string>
		<string>Vtilde</string>
		<string>Lcaron</string>
		<string>Ndotaccent</string>
		<string>Delta</string>
		<string>twofifths</string>
		<string>Wgrave</string>
		<string>iacute</string>
		<string>Ydieresis</string>
		<string>six.sub</string>
		<string>Ytilde</string>
		<string>b</string>
		<string>Ngrave</string>
		<string>hdieresis</string>
		<string>Macute</string>
		<string>r</string>
		<string>Jcircumflex</string>
		<string>Ccedilla</string>
		<string>minus</string>
		<string>dcedilla</string>
		<string>tcaron</string>
		<string>longs</string>
		<string>Ucircumflex</string>
		<string>Lslash</string>
		<string>ldot</string>
		<string>abreve</string>
		<string>racute</string>
		<string>one.sup</string>
		<string>florin</string>
		<string>Uacute</string>
		<string>Ocaron</string>
		<string>itilde</string>
		<string>one.sub</string>
		<string>Emacron</string>
		<string>yacute</string>
		<string>Omega</string>
		<string>quotedbl</string>
		<string>ohungarumlaut</string>
		<string>onehalf</string>
		<string>Thorn</string>
		<string>emacron</string>
		<string>multiply</string>
		<string>Oogonek</string>
		<string>Dcedilla</string>
		<string>onesuperior</string>
		<string>Ocircumflex</string>
		<string>m</string>
		<string>oacute</string>
		<string>Ntilde</string>
		<string>Uogonek</string>
		<string>questiondown</string>
		<string>Atilde</string>
		<string>perthousand</string>
		<string>ccedilla</string>
		<string>Acaron</string>
		<string>four.oldstyle</string>
		<string>adotaccent</string>
		<string>ecedilla</string>
		<string>copyright</string>
		<string>zdotaccent</string>
		<string>hcircumflex</string>
		<string>less</string>
		<string>ntilde</string>
		<string>seveneighths</string>
		<string>Zacute</string>
		<string>Eacute</string>
		<string>Etilde</string>
		<string>cacute</string>
		<string>gcaron</string>
		<string>dotlessicaron</string>
		<string>two.oldstyle</string>
		<string>wring</string>
		<string>circumflex</string>
		<string>napostrophe</string>
		<string>bar</string>
		<string>h</string>
		<string>Pdotaccent</string>
		<string>x</string>
		<string>udieresis</string>
		<string>Adotaccent</string>
		<string>ordfeminine</string>
		<string>rcaron</string>
		<string>Ccaron</string>
		<string>braceleft</string>
		<string>threefifths</string>
		<string>macron</string>
		<string>onequarter</string>
		<string>sdotaccent</string>
		<string>atilde</string>
		<string>Acircumflex</string>
		<string>sacute</string>
		<string>Oslash</string>
		<string>gbreve</string>
		<string>quotedblleft</string>
		<string>hcedilla</string>
		<string>Pacute</string>
		<string>zacute</string>
		<string>exclam</string>
		<string>Tcaron</string>
		<string>nine.sub</string>
		<string>c</string>
		<string>z</string>
		<string>threeeighths</string>
		<string>Ugrave</string>
		<string>eth</string>
		<string>hbar</string>
		<string>Racute</string>
		<string>uhungarumlaut</string>
		<string>Egrave</string>
		<string>zasciicircum</string>
		<string>hyphen</string>
		<string>Fdotaccent</string>
		<string>period</string>
		<string>igrave</string>
		<string>ncedilla</string>
		<string>colon</string>
		<string>xdieresis</string>
		<string>eight.sub</string>
		<string>Ecircumflex</string>
		<string>partialdiff</string>
		<string>Hcedilla</string>
		<string>trademark</string>
		<string>Aacute</string>
		<string>cent</string>
		<string>eight.sup</string>
		<string>Tcomma</string>
		<string>lslash</string>
		<string>pi</string>
		<string>wdieresis</string>
		<string>ycircumflex</string>
		<string>zero.sup</string>
		<string>Hdieresis</string>
		<string>uni00A0</string>
		<string>Amacron</string>
		<string>Hcaron</string>
		<string>breve</string>
		<string>zero.sub</string>
		<string>Oacute</string>
		<string>onesixth</string>
		<string>guillemotleft</string>
		<string>n</string>
		<string>idieresis</string>
		<string>braceright</string>
		<string>numbersign</string>
		<string>Ecedilla</string>
		<string>brokenbar</string>
		<string>onenineth</string>
		<string>Dcaron</string>
		<string>ugrave</string>
		<string>ij</string>
		<string>fiveeighths</string>
		<string>six.oldstyle</string>
		<string>periodcentered</string>
		<string>s</string>
		<string>Bdotaccent</string>
		<string>Dcroat</string>
		<string>sterling</string>
		<string>Aogonek</string>
		<string>infinity</string>
		<string>eight.oldstyle</string>
		<string>IJ</string>
		<string>Xdotaccent</string>
		<string>Tdotaccent</string>
		<string>Eth</string>
		<string>emdash</string>
		<string>i</string>
		<string>tcedilla</string>
		<string>icircumflex</string>
		<string>y</string>
		<string>ncaron</string>
		<string>plusminus</string>
		<string>yen</string>
		<string>tilde</string>
		<string>Wdieresis</string>
		<string>apple</string>
		<string>Zcaron</string>
		<string>Odotaccent</string>
		<string>onetenth</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>oneseventh</string>
		<string>Tcedilla</string>
		<string>Wacute</string>
		<string>ymacron</string>
		<string>Hbar</string>
		<string>oslash</string>
		<string>acute</string>
		<string>d</string>
		<string>Scircumflex</string>
		<string>lcaron</string>
		<string>Zasciicircum</string>
		<string>acaron</string>
		<string>OE</string>
		<string>Igrave</string>
		<string>pacute</string>
		<string>t</string>
		<string>aogonek</string>
		<string>parenright</string>
		<string>scircumflex</string>
		<string>zero.oldstyle</string>
		<string>ezh</string>
		<string>jcircumflex</string>
		<string>AE</string>
		<string>quotesingle</string>
		<string>eogonek</string>
		<string>Umacron</string>
		<string>utilde</string>
		<string>Imacron</string>
		<string>equal</string>
		<string>slash</string>
		<string>ellipsis</string>
		<string>nacute</string>
		<string>guilsinglright</string>
		<string>five.sub</string>
		<string>zcaron</string>
		<string>odieresis</string>
		<string>vtilde</string>
		<string>ebreve</string>
		<string>five.sup</string>
		<string>tcomma</string>
		<string>caron</string>
		<string>three.sub</string>
		<string>etilde</string>
		<string>oe</string>
		<string>guilsinglleft</string>
		<string>fivesixths</string>
		<string>o</string>
		<string>Edieresis</string>
		<string>plus</string>
		<string>yring</string>
		<string>threesuperior</string>
		<string>oogonek</string>
		<string>dagger</string>
		<string>Kcaron</string>
		<string>ngrave</string>
		<string>integral</string>
		<string>macute</string>
		<string>fourfifths</string>
		<string>Ibreve</string>
		<string>hungarumlaut</string>
		<string>parenleft</string>
		<string>Ebreve</string>
		<string>question</string>
		<string>uogonek</string>
		<string>grave</string>
		<string>fraction</string>
		<string>Omacron</string>
		<string>three.sup</string>
		<string>Iogonek</string>
		<string>ddotaccent</string>
		<string>registered</string>
		<string>two.sup</string>
		<string>dieresis</string>
		<string>e</string>
		<string>two.sub</string>
		<string>iogonek</string>
		<string>Ograve</string>
		<string>j</string>
		<string>ucaron</string>
		<string>uni00AD</string>
		<string>ogonek</string>
		<string>rdotaccent</string>
		<string>ae</string>
		<string>semicolon</string>
		<string>Zdotaccent</string>
		<string>quotedblbase</string>
		<string>at</string>
		<string>Iacute</string>
		<string>daggerdbl</string>
		<string>percent</string>
		<string>kcedilla</string>
		<string>ubreve</string>
		<string>bracketright</string>
		<string>onefifth</string>
		<string>gdotaccent</string>
		<string>Wcircumflex</string>
		<string>adieresis</string>
		<string>approxequal</string>
		<string>odotaccent</string>
		<string>scedilla</string>
		<string>asterisk</string>
		<string>aacute</string>
		<string>Ccircumflex</string>
		<string>eacute</string>
		<string>bdotaccent</string>
		<string>Rdotaccent</string>
		<string>wgrave</string>
		<string>wcircumflex</string>
		<string>Nacute</string>
		<string>bullet</string>
		<string>thorn</string>
		<string>space</string>
		<string>u</string>
		<string>ytilde</string>
	</array>
</dict>
</plist>
