<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@figures</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
	<key>@figuresOldStyle</key>
	<array>
		<string>zero.oldstyle</string>
		<string>one.oldstyle</string>
		<string>two.oldstyle</string>
		<string>three.oldstyle</string>
		<string>four.oldstyle</string>
		<string>five.oldstyle</string>
		<string>six.oldstyle</string>
		<string>seven.oldstyle</string>
		<string>eight.oldstyle</string>
		<string>nine.oldstyle</string>
	</array>
	<key>@lowerLeft</key>
	<array>
		<string>a</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>@lowerRight</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>e</string>
		<string>g</string>
		<string>h</string>
		<string>k</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
</dict>
</plist>
